@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    color: #575757;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 400;
}

section {
    padding: 100px 0;
}

.align-row {
    display: flex;
    justify-content: space-between;
}

section.banner p {
    width: 500px;
    max-width: 100%;
    font-size: 40px;
}

section.banner img {
    max-width: 100%;
}

section.servicos {
    background-color: #E5E5E5;
}

section.servicos .container {
    flex-direction: column;
}

section.servicos .items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

section.servicos .items article {
    width: 230px;
    margin: 30px;
}

section.servicos .items article img{
    width: 100%;
    height: 200px;
}

section.servicos .items article h3 {
    text-transform: none;
    margin-bottom: 0;
    font-size: 20px;
}

section.servicos .items article h4 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

section.servicos .items .thumb {
    width: 100%;
    height: 200px;
    background-color: #fff;
}

section.sobre {
    padding: 100px 0;
}

section.sobre .text {
    padding: 50px;
    width: 600px;
    max-width: 100%;
}

section.sobre .text p {
    font-weight: 300;
}

