header{
    display: flex;
}

header img {
    width: 60px;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
}

.title{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

header a {
    margin-left: 10px;
    margin-top: 15px;
}

header h2 {
    margin-top: 40px;
    margin-left: -290px;
}


.cast ul{
    display: flex;
    align-items: center;

}

.cast ul img {
    width: 40px;
    height: 60px;
}

.cast ul a {
    margin-left: 10px;
}

