body{
    background-color: black;
    color: white;
}

header {
    margin-left: 10px;
}

.container {
    background-color: #2F2F2F;

}

.media{
    margin-left: 10px;
}

.text{
    margin-left: 10px;
}
