header{
    display: flex;
}

header img {
    width: 60px;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
}

.title{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

header a {
    margin-left: 10px;
    margin-top: 15px;
}

header h2 {
    margin-top: 40px;
    margin-left: -290px;
}

ul {
    display: flex;
    width: 720px;

    margin-top: 10px;

    background-color: aliceblue;

}

ul img {
    width: 200px;
    height: 150px;
}

ul div {
    display: inline;
}

ul div p {
    margin-right: 10px;
    margin-left: 10px;
}

