body {
    background-color: black;
    color: whitesmoke;

    width: auto;
}

header{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;


}
